.idea
Todo-List-App.iml
.classpath
.project

target/archive-tmp
target/classes
target/generated-test-sources
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes